/* .App {
  text-align: center;
} */
/* .invalid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem
rem
 0.5rem;
    margin-top: 0.1rem;
    font-size: .875rem;
    color: #fff;
    background-color: rgba(220,53,69,0.9);
    border-radius: 0.25rem;
} */
/* #messages-box {
  height: calc(100vh - 110px);
  overflow-y: scroll;
} */
#messages-box {
height: 100%;
overflow-x: hidden;
overflow-y: auto;
/* transform: rotate(180deg); */
direction: ltr;
text-align:left;
}
ul {
overflow: hidden;
/* transform: rotate(180deg); */
}